:root {
  --global-font-size: 0.8rem;
  --global-text-color: white;
  --global-color-background: #111111;
  --global-color-l1: #121212;
  --global-color-l2: #1e1e1e;
  --global-color-l3: #212121;
  --global-color-l4: #242424;
  --global-color-l5: #272727;
  --global-color-l6: #2c2c2c;
  --global-color-l7: #2d2d2d;
  --global-color-l8: #323232;
  --global-color-l9: #353535;
  --global-color-l10: #373737;
  --global-color-font: #e3e3e3;
}

.Page {
  background-color: var(--global-color-background);
}

.Search {
  text-align: center;
  padding-top: 35vh;
  min-height: 20vh;
}

.Search-transform {
  transition: padding-top 1s;
  padding-top: 12vh;
}

.search-button {
  margin-top: 20px;
}

.search-bar {
  width: 320;
  color: var(--global-color-font);
}

.Results {
  display: flex;
  table-layout: auto;
  justify-content: center;
}

.Navbar {
  margin: 20px;
  padding: 10px;
  text-align: center;
  min-height: 45vh;
}

.table1 {
  display: flex;
  justify-content: center;
}

td {
  border-top: 0.6vh solid var(--global-color-background);
  border-bottom: 0.6vh solid var(--global-color-background);
  background-color: var(--global-color-l2);
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 10px;
  color: var(--global-color-font);
}

.header {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
}

.content {
  padding-top: 1vh;
  font-size: large;
  font-weight: 300;
  width: 70vw;
}

.collapsed {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footnote {
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
  font-size: small;
  font-weight: 200;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2vw;
}

.icon {
  width: 1.5vw;
  min-width: 20px;
  width: 2vw;
  min-height: auto;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 75vw;
}

/* .search-animation {
  animation-name: move-up;
  animation-duration: 2s;
}

@keyframes move-up {
  alignj-content
  to {background-color: yellow;}
} */